.jumbotron {
  background-color: #C9C9C9;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  background-color: #C9C9C9;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-hotel {
  background-color: #ff0000;
  flex: 1 300px;
  padding: 2px 5px 2px 5px; }

.btn-reserva {
  width: 100%; }
