@gray: #C9C9C9;
@yellow: #ffee00;
@red: #ff0000;
@green: #33ff00;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @gray;
  color: black;
  .margenes(50px, 0px);
}

footer {
  background-color: @gray;
  .margenes(10px, 0px);
}

.footer-address-icon {
  padding-right: 10px; }

.card-hotel {
  background-color: @red;
  flex: 1 300px;
  padding: 2px 5px 2px 5px; }

.btn-reserva {
  width: 100%; }
