.jumbotron{
  background-color: gray;
  color: black;
  margin-top: 50px;
}

footer{
  background-color: gray;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer-address-icon{
  padding-right: 10px;
}

.card-hotel{
  flex: 1 300px;
  padding: 2px 5px 2px 5px;
}

.btn-reserva{
  width: 100%;
}